body {
  font-family: sans-serif;
}

main {
  width: calc(100% - 24px);
  max-width: 800px;
  margin: 80px auto;
}

.headings {
  font-weight: 400;
  font-size: 2.75em;
}
.divider {
  border-bottom: 3px solid #000;
  border-radius: 2px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1em;
}
.logo {
  position: absolute;
  top: 20px;
  right: 2.5%;
  margin: 1em;
  width: 25%;
  height: auto;

}
