body {
  font-family: sans-serif;
}

main {
  width: calc(100% - 24px);
  max-width: 800px;
  margin: 80px auto;
}

main h1 {
  font-size: 3em;
  font-weight: bold;
  margin: auto -90px;
}

main h2 {
  font-size: 2rem;
  margin-top: 42px;
}
main h3 {
  font-size: 1.6rem;
  margin-top: 36px;
  margin-bottom: 0;
}
main p,
main ul {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headings {
  font-weight: 400;
  font-size: 2.75em;
  position: relative;
  left: 2vw;
}
.names {
  position: relative;
  bottom: 5vh;
}
.divider {
  border-bottom: 3px solid #000;
  border-radius: 2px;
  width: 95%;
  margin: 0 auto;
  margin-top: -4em;
  margin-bottom: 4em;
}
.logo {
  position: absolute;
  top: 20px;
  right: 2.5%;
  margin: 1em;
  width: 25%;
  height: auto;
}
.info {
  margin: auto -90px;
  color: #4B4B4B;
}

footer {
  width: calc(100% - 80px);
  margin-inline: auto;
  border-top: 3px solid #000000;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin-right: 8px;
}
footer ul:first-child {
  margin-left: -36px;
}