body {
  width: calc(100% - 200px);
  max-width: 1280px;
  font-family: sans-serif;
  margin-inline: auto;
}

header {
  padding-top: 20px;
}
header p {
  color: #4b4b4b;
  margin: 0 0 -12px -2px;
}
header h1 {
  font-size: 2.4rem;
  margin-left: -2px;
}

nav {
  position: sticky;
  top: 0px;
  padding-top: 12px;
  background-color: #ffffff;
  border-bottom: 1px solid #860d21;
  z-index: 3;
}
nav a {
  display: inline-block;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 4px;
  margin-bottom: -1px;
  border-bottom: 5px solid #00000000;
  cursor: pointer;
}
nav a {
  margin-right: 40px;
}
nav a.selected {
  border-bottom: 5px solid #860d2180;
}
nav a:hover, nav a.selected:hover {
  border-bottom: 5px solid #860d21;
}
nav a.über {
  position: absolute;
  right: -40px;
}

main {
  min-height: calc(100vh - 390px);
  margin: 80px auto;
}

main > h1 {
  max-width: 1000px;
  font-size: 3.6rem;
  margin-inline: auto;
  margin-top: 120px;
}
main > p.info {
  max-width: 1000px;
  color: #4b4b4b;
  font-weight: 400;
  margin: -36px auto 80px auto;
}
main > p {
  max-width: 1000px;
  font-size: 2rem;
  font-weight: 600;
  margin: -40px auto 80px auto;
}
main > img {
  width: 100%;
  height: 600px;
  margin-bottom: 100px;
  object-fit: cover;
}

main section {
  max-width: 860px;
  margin-inline: auto;
}

main section h2 {
  font-size: 2.4rem;
  margin-top: 48px;
}
main section h3 {
  font-size: 1.6rem;
  margin-top: 40px;
  margin-bottom: 0;
}
main p,
main ul {
  font-size: 1.2rem;
  line-height: 1.5;
}
main section div.flex {
  display: flex;
  gap: 40px;
}
main section div.flex > * {
  width: 50%;
}
main section div.flex > img {
  object-fit: contain;
}

footer {
  position: relative;
  width: 100%;
  margin-top: auto;
  border-top: 1px solid #000000;
}
footer ul {
  display: flex;
  margin-left: -40px;
  margin-right: -8px;
}
footer ul li {
  flex-grow: 1;
  display: inline-block;
  list-style: none;
  margin-right: 8px;
}
footer ul li:last-child {
  text-align: right;
}
footer a {
  color: #860d21;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  body {
    width: calc(100% - 40px);
  }

  nav a {
    font-size: 1.2rem;
    margin-top: 12px;
  }
  nav a.über {
    position: static;
    right: unset;
  }

  main > img {
    height: 300px;
  }

  main section div.flex {
    flex-direction: column;
  }
  main section div.flex > * {
    width: unset;
  }
  main section div.flex > img {
    width: 80%;
    margin-inline: auto;
  }
}

@media (max-width: 425px) {
  header {
    padding-top: 12px;
  }
  header p {
    font-size: 0.8rem;
  }
  header h1 {
    font-size: 2rem;
  }

  nav {
    padding-top: 0;
  }

  main > h1 {
    font-size: 2.4rem;
    margin-top: 60px;
    margin-bottom: 48px;
  }
  main > p {
    font-size: 1.1rem;
  }
  main > img {
    margin-bottom: 20px;
  }

  main section h2 {
    font-size: 2rem;
  }
  main section h3 {
    font-size: 1.2rem;
  }
  main section p,
  main section ul {
  font-size: 1rem;
  line-height: 1.25;
  }

  main section div.flex > img {
    width: 100%;
  }

  footer ul {
    display: block;
    line-height: 1.25;
  }
  footer ul li {
    font-size: 0.8rem;
  }
}